* {
  box-sizing: border-box;
}

body {
  margin: 16px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fafafa;
  color: #212121;
  line-height: 1.5;
}

/* reset */
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style-type: none;
}

button {
  cursor: pointer;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

a {
  color: inherit;
  text-decoration: none;
}

/* task-1 */
#categories {
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin-top: 24px;
  font-family: "Montserrat", sans-serif;
}

.categories-box {
  border-radius: 8px;
  padding: 16px;
  margin-left: 24px;
  width: 392px;
  min-height: 216px;
  background-color: #f6f6fe;
}

.categories-name {
  font-weight: 600;
  font-size: 24px;
  line-height: 1.3;
  letter-spacing: 0.04em;
  color: #2e2f42;
  margin-bottom: 16px;
}

.categories-list-item {
  display: flex;
  align-items: center;
  padding-left: 16px;
  margin-bottom: 8px;
  border: 1px solid #808080;
  border-radius: 4px;
  width: 360px;
  height: 40px;
}

/* task-2 */
.container {
  width: 1200px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
}

.gallery-item {
  width: calc((100% - 72px) / 3);
  margin-left: 24px;
  margin-top: 48px;
}

/* task-3 */
#name-input {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #2e2f42;

  padding-left: 16px;
  width: 360px;
  height: 40px;
  margin: 24px 0px 16px 24px;
}

.name-anonymous {
  font-weight: 600;
  font-size: 24px;
  line-height: 1.3;
  letter-spacing: 0.04em;
  color: #2e2f42;
  margin-left: 24px;
}

/* task-4 */
.login-form {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  gap: 8px;
  margin-top: 24px;
  margin-left: 24px;

  width: 360px;
  height: 152px;
}

.label-form {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #2e2f42;
}

.input-form {
  border: 1px solid #808080;
  border-radius: 4px;
  width: 360px;
  height: 40px;
  padding-left: 16px;
}

.btn-form {
  display: flex;
  justify-content: center;
  margin-top: 16px;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;

  border-radius: 8px;
  border-style: none;
  padding: 8px 16px;
  width: 86px;
  height: 40px;
  background-color: #4e75ff;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.btn-form:hover {
  background-color: #6c8cff;
}

/* task-5 */
.widget {
  font-family: "Montserrat", sans-serif;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 16px;
}

.text-click-color {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #2e2f42;
}

.change-color {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;

  border-radius: 8px;
  border-style: none;
  padding: 8px 16px;
  width: 148px;
  height: 40px;
  background-color: #4e75ff;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.change-color:hover {
  background-color: #6c8cff;
}

/* task-6 */
#controls {
  font-family: "Montserrat", sans-serif;
  display: flex;
  gap: 16px;
  margin: 24px 0px 16px 24px;
  border-radius: 8px;

  padding: 32px;
  width: 486px;
  background-color: #f6f6fe;
}

.random-numbers {
  border: 1px solid #808080;
  border-radius: 8px;
  padding-left: 65px;
  width: 150px;
  height: 40px;

  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #2e2f42;
}

.create {
  display: flex;
  align-items: center;
  justify-content: center;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;

  border-radius: 8px;
  border-style: none;
  width: 120px;
  height: 40px;
  background-color: #4e75ff;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.create:hover {
  background-color: #6c8cff;
}

.destroy {
  display: flex;
  align-items: center;
  justify-content: center;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;

  border-radius: 8px;
  border-style: none;
  width: 120px;
  height: 40px;
  background-color: #ff4e4e;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.destroy:hover {
  background-color: #ff7070;
}

#boxes {
  display: flex;
  gap: 44px;
  margin-left: 24px;
  border-radius: 8px;
  padding: 32px;
  background-color: #f6f6fe;
}